<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Topics
            </h1>
            <div class="list-menu">
                <a class="list-menu-item is-active">
                    <p>Topico prueba</p>
                </a>
                <a class="list-menu-item">
                    <p>Topico prueba</p>
                </a>
                <a class="list-menu-item">
                    <p>Topico prueba</p>
                </a>
                <a class="list-menu-item">
                    <p>Topico prueba</p>
                </a>
            </div>

            <button class="button is-primary has-text-white">
                + Nuevo Topic
            </button>
        </div>

        <div class="task-list-container has-background-light">
            <h1 class="title has-text-primary">
                Tareas
            </h1>

            <div class="task complete">
                <p>Tarea para hacer de prueba</p>
            </div>
            <div class="task">
                <p>Tarea para hacer de prueba</p>
            </div>
            <div class="task">
                <p>Tarea para hacer de prueba</p>
            </div>
        </div>
    </div>
</div>